{
	"arrowParens": "always",
	"printWidth": 80,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrderTypeScriptVersion": "5.0.0",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/(.*)$",
		"^~/(.*)$",
		"",
		"^[./]",
		"^(?!.*[.]css$)[./].*$",
		".css$"
	],
	"proseWrap": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"endOfLine": "lf"
}
